%table.pure-table.pure-table-bordered
  %thead
    %tr
      %th Name
      %th Handle
      %th Languages
  %tbody
  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.handle
      %td= @tracks[user.id].join(', ')


=link_to "View", "#", class: 'pure-button'
=paginate @users
